/********** Template CSS **********/
body,
html {
  overflow-x: hidden;
}
:root {
  --primary: #ffd27e;
  --light: #f1f8ff;
  --dark: #002b40;
  --dark-light: #02486b;
  --iconColor: #ffd27e;
}

.iconColor {
  color: var(--iconColor) !important;
}
.theme_text_color {
  color: var(--primary);
}
.theme_bg_color {
  background-color: var(--primary);
}
.theme_bg_color1 {
  background-color: var(--dark-light);
}

/* font-family: 'Katibeh', serif;
font-family: 'Poppins', sans-serif; */

.ff-secondary {
  font-family: 'Poppins', serif;
  /* font-family: 'Pacifico', cursive; */
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_18 {
  font-size: 18px !important;
}
.font_24 {
  font-size: 24px !important;
}
.font_32 {
  font-size: 32px !important;
}
.font_50 {
  font-size: 50px !important;
}
.fw_400 {
  font-weight: 400 !important;
}
.fw_500 {
  font-weight: 500 !important;
}
.fw_600 {
  font-weight: 600 !important;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  /* font-family: 'Katibeh', serif; */
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}
.btn:hover {
  opacity: 0.3;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #021d2a;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    position: relative;
  }

  .navbar-dark .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
    max-height: 45px;
  }
}
/* overlay part start */

/* for responsive manu css */
.sticky3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85) !important;
  color: #666 !important;
  animation-name: animate;
  animation-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 999999;
}
@keyframes animate {
  from {
    top: -10%;
  }
  to {
    top: 0%;
  }
}
.sticky3 .sticky_text_color {
  color: #2f2f2f !important;
  font-weight: 600;
}
.sticky3 .sticky_text_color2 {
  color: #fff !important;
  font-weight: 600;
}
.overbanner2 {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;

  z-index: 999999;
}
.overbanner3 {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;

  z-index: 999999;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay-content-itema {
  color: #c5c5c5;
  transition: all linear 0.3s;
}

/* Style the open button */
.open-button {
  color: #fff;
  cursor: pointer;
  line-height: 56px;
}
.res_font_size {
  font-size: 30px;
}
.overlay-icon {
  margin-top: 13px;
}

/* Style the "Close" button */
.close-button {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

.overlay-div {
  visibility: none;
}
/* overlay part end */
.overbanner {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #0000002e;
}

.overbanner3 {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 999999;
}
.res_overbanner2 {
  position: absolute;
  top: 5.5%;
  left: 0;
  right: 0;
  /* background-color: #221a177b; */
  /* animation-name: mamun;
  animation-duration: 1s;*/

  z-index: 999999;
}
.theme_bg.offcanvas.offcanvas-end.show {
  z-index: 999999;
}
.open-button {
  border-radius: 8px;
  padding: 0px 18px;
  background-color: var(--primary) !important;
}

.sticky2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  color: #666 !important;
  animation-name: animate;
  animation-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 999999;
}
.sticky2 .sticky_text_color {
  /* color: #2f2f2f !important; */
  font-weight: 600;
}
.sticky3 .sticky_text_color2 {
  color: #fff !important;
  font-weight: 600;
}

/* for responsive manu css */
.sticky3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #666 !important;
  animation-name: animate;
  animation-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 999999;
}
.sticky3 .sticky_text_color {
  color: #2f2f2f !important;
  font-weight: 600;
}
@keyframes animate {
  from {
    top: -10%;
  }
  to {
    top: 0%;
  }
}
.overbanner2 .dropdown-toggle::after {
  display: none !important;
}
.overbanner2 .dropdown-menu.show {
  margin-top: -25px;
}

.cate-drop {
  font-size: 14px;
  transition: all linear 0.3s;
}
.cate-drop:hover {
  color: #fff !important;
  background-color: var(--dark);
}
.cate-drop.text-light.text-capitalize.all-icons.text-dark.px-4.py-2.d-block.dropdown-item {
  word-wrap: break-word !important;
  white-space: normal;
}
.social_icon {
  color: #e1e1e1;
  padding-right: 15px;
}

.subMenu {
  /* background-image: url("/pageBg.jpg"); */
  background-position: left bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
}
.navBox {
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px !important;
  column-gap: 15px !important;
}
.overbanner3 {
  display: none;
}

@keyframes myanimation {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

/* responsive part */

/* end of onscroll slider */

.hero-header img {
  animation: imgRotate 50s linear infinite;
}
.hero_banner {
  height: 100vh;
  width: 100%;
}
.hero_banner_img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 20s ease-in infinite;
  animation: zoomin 20s ease-in infinite;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.67);
  }
  100% {
    transform: scale(1);
  }
} /*End of Zoom out Keyframes */

@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}
.slider_overlay::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  /* z-index: 999999; */
}
.hero_banner .carousel-indicators {
  display: none;
}
.slider_details {
  height: 100vh;
  padding-right: 200px;
}
.slideInUp {
  --animate-duration: 2s;
}
.slider_title {
  line-height: 65px !important;
}
/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}
.review_section_title::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}
.review_title_des {
  font-size: 48px;
  line-height: 45px;
}
.section-title::before {
  position: absolute;
  content: '';
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: '';
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/*** Service ***/

.service_sec {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Food Menu ***/
.mobile_menu_item_btn button#dropdown-basic {

  display: none !important;
}
.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}
.menu_icon {
  font-size: 25px !important;
}
.mobile_menu_item_btn {
  display: none !important;
}
/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../public/assets/images/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  height: calc(100% - 38px);
  transition: 0.5s;
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}
/* Youtube section css part start */

.youtube_bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/assets/images/testimo.jpg);
  background-size: cover;
  height: 100vh;
  /* padding-top: 100px;
  padding-bottom: 150px; */
  display: flex;
  align-items: center;
}
.play_btn {
  height: 90px;
  width: 90px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.playbutton {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 70px;
  color: #ee3235 !important;
  position: relative;
  z-index: 100 !important;
}

.playbutton::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100 !important;
  animation-name: videoAnimation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.play_btn_focus {
  box-shadow: none !important;
}
.play_btn_focus:hover {
  color: var(--primary) !important;
  opacity: 1;
}
/* Youtube section css part end  */

/* review part css start */
.review_part {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/assets/images/review.png);
  background-size: cover;
  padding-top: 100px !important;
}
.review_part .carousel-indicators {
  display: none;
}
.review-item {
  height: 350px;
}
.review_des_line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
/* review part css end */

/*** Testimonial part css start***/

.testimonial {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/assets/images/interiror.jpg);
  background-size: cover;
  /* height: 100vh; */
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}
.testimonial-item {
  height: 500px;
}
.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: var(--light) !important;
}
.testi_party {
  height: 500px;
}
.testimonial-carousel .owl-dots {
  /* margin-top: 24px; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}
.testimonial .carousel-control-next-icon {
  background-image: url('../public/assets/images/arrow3.png');
  position: absolute;
  right: 280px;
  bottom: -80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.testimonial .carousel-control-prev-icon {
  background-image: url('../public/assets/images/arrow3.png');
  position: absolute;
  left: 280px;
  bottom: -80px;
  border: 1px solid #fff;
  border-radius: 50%;
  transform: rotate(-180deg);
}
.testimonial .carousel-indicators {
  display: none;
}
.testi_image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
/*** Testimonial part css end***/

/*** Footer part css start***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.newsletter_icon_details {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: var(--dark-light);
  cursor: pointer;
  transition: all linear 0.3s;
}
.newsletter_icon_details::after {
  position: absolute;
  content: '';
  top: -5px;
  left: -5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all linear 0.3s;
}
.newsletter_icon_details:hover::after {
  border: 2px solid var(--primary);
}
.newsletter_icon_details:hover {
  color: #333;
  background-color: var(--primary);
}
/*** Footer part css end***/

/* =================CUSTOM STYLE================= */

/* Experience component style */

.service_title {
  font-size: 50px;
}
.service_subtitle::after {
  position: absolute;
  content: '';
  top: 9px;
  left: -17px;
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
  background-color: var(--primary);
  font-size: 50px;
}
.service_subtitle::before {
  position: absolute;
  content: '';
  top: 9px;
  right: -17px;
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
  background-color: var(--primary);
  font-size: 50px;
}

/* services part css start*/

.icon_details {
  height: 100px;
  width: 100px;
  background-color: var(--dark-light);
  cursor: pointer;
  transition: all linear 0.3s;
}
.icon_details::after {
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all linear 0.3s;
}
.icon_details:hover::after {
  border: 2px solid var(--primary);
}
.icon_details:hover {
  color: #333;
  background-color: var(--primary);
}
/* service part css end */

/* food manu css part start */
.food_manu_img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.all_items {
  color: var(--primary);
}
.onclick_active {
  color: var(--primary) !important;

  border-bottom: 2px solid var(--primary) !important;
}

.food_tab_active::after {
  position: absolute !important;
  content: '';
  top: 11px;
  left: -2px;
  height: 5px;
  width: 5px;
  color: #fff !important;
  transform: rotate(45deg);
  background-color: var(--primary);
}
.filter_border {
  border-bottom: 1px dashed var(--dark-light);
}
.food_manu_border:nth-child(2n-1) {
  border-right: 1px dashed var(--dark-light);
}
.foodmanu_title {
  transition: all linear 0.3s;
}
.foodmanu_title:hover {
  color: var(--primary) !important;
}

.food_tab_active::after {
  top: 13px;
  height: 3px;
  width: 3px;
}
/* .manu_active{

} */
/* food manu css part start */

/* experience css part start */
.experience_back {
  background-image: url(../public/assets/images/ex_leaf.png);
  background-repeat: no-repeat;
  background-position: top -40px right 0px;
  z-index: 9999;
}

.experience_bg {
  background-image: url(../public/assets/images/experience_bg.png);
  background-repeat: no-repeat;
  background-position: bottom -50px left 0px;
  /* margin-bottom: 100px; */
  height: 1000px;
  padding: 100px 0px;
}
.experience_img_one {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.experience_img_two {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.phone_number {
  font-size: 40px;
  font-family: 'Poppins', serif;
  color: var(--primary);
}

.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', serif;
  font-size: 14px;
  letter-spacing: 3px !important;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 3em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border: 2px solid var(--primary);
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--primary);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #0e35b5;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
/* experience css part end */

/* instagram css part start */
.insta_post {
  height: auto;
  width: 450px;
  object-fit: contain;
}
.all_insta_posts {
  height: 225px;
  width: 50%;
  object-fit: contain;
}
.dall_insta_posts {
  height: 225px;
  width: 50%;
  object-fit: contain;
}

.marge_padding .col-lg-6 {
  padding: 0px;
}

.itemBoxjiaur {
  position: relative !important;
}

.overlyBox {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background-color: #002b4091;
  cursor: pointer;
  /* z-index: 99999; */
  opacity: 0;
  transition: all linear 0.3s;
}
.sec_border {
  border: 1px solid #fff;
  padding: 70px;
}
.on_hover:hover .overlyBox {
  opacity: 1 !important;
}
.insta_icon_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: var(--dark-light);
  /* cursor: pointer; */
  z-index: 9999999;
  transform: translate(-50%, -50%);
  transition: all linear 0.3s;
}
.insta_icon_bg:hover {
  background-color: var(--primary);
}
.insta_icon_bg:hover .insta_icon {
  color: #fff;
}
/* instagram css part end */
/* instagram css part end */

/* instagram css part end */

/* reservation css part start */
.reservation_bg {
  background-image: url(../public/assets/images/reservation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* padding: 100px 0px; */
  background-attachment: fixed;
}
.select_form {
  width: 100%;
  /* padding: 15px 5px;  */
}
.reser_form_one .form-select {
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  background-color: var(--dark-light);
}
.form-select {
  background-image: url(../public/assets/images/arrow1.png) !important;
}
.username_form {
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 0px;
  background-color: var(--dark-light);
}
input.form-control.username_form {
  background-color: var(--dark-light);
}
.username_form::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.username_form::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}
.reservation_date_form {
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 0px;
  background-color: var(--dark-light);
}
input.form-control.reservation_date_form {
  background-color: var(--dark-light);
}
.reservation_date_form::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.reservation_date_form::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}
.reservation_date_form::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* reservation css part end */

/* scroll to top button css start */
.topbutton svg {
  height: 16px;
}
button.scroll-to-top.topbutton {
  color: var(--dark);
  background-color: var(--primary) !important;
}
/* scroll to top button css end */

/* specialties css part start */
.specialties_img {
  height: 340px !important;
  width: 100%;
  object-fit: contain;
}
.slick-dots li button:before {
  content: '';
  top: 9px;
  left: -17px;
  height: 3px;
  width: 3px;
  transform: rotate(45deg);
  background-color: var(--primary);
  font-size: 50px;
}
.slick-dots li button:before {
  font-size: 0px !important;
  width: 10px !important;
  height: 10px !important;
}
.mn:nth-child(2n) {
  background: red;
  margin-top: 30px;
}
.specialties_section .slick-prev:before {
  position: absolute;
  content: '' !important;
  display: block;
  width: 30px;
  height: 30px;
  left: 15px;
  transform: rotate(90deg);
  background-image: url(../public/assets/images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999999999999 !important;
}
.specialties_section .slick-next:before {
  position: absolute;
  content: '' !important;
  display: block;
  width: 30px;
  height: 30px;
  left: -25px;
  transform: rotate(-90deg);
  background-image: url(../public/assets/images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* z-index: 9999999999999 !important; */
}

/* specialties css part end */

/* contact_section css part start */

iframe {
  display: block;
  width: 100%;
  max-width: 60rem;
  height: 35em;
  border: 1px solid black;
}
.contact_details {
  height: 35em;
  background-color: #144258;
  display: flex;
  align-items: center;
}
.contact_section {
  height: 100%;
  padding-top: 100px;
}
.location_contact_part {
  z-index: 999;
}
.visit_bg_img {
  position: absolute;
  top: -3%;
  left: 0%;
  z-index: 0;
  transform: rotate(180deg);
}
/* contact_section css part end */

/* read_more_banner css part start */
/* .read_more_banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/assets/images/review.jpg);
  background-size: cover;
  height: 300px;
  object-fit: cover;
} */
.read_more_banner_img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.read_more_banner::after {
  position: absolute !important;
  content: '';
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
/* read_more_banner css part end */

/* read_more_banner css part start */

.about_page_banner_img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.about_page_banner::after {
  position: absolute !important;
  content: '';
  top: 0;
  left: 0;
  height: 350px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.about_title_des {
  font-size: 60px;
  line-height: 55px;
}
.about_page_title {
  position: absolute;
  font-size: 60px;
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.play_btn_res {
  font-size: 30px;
}

/* read_more_banner css part end */

.test_animation {
  position: relative !important;
  animation: mymove 2s;
  /* animation-delay: 1s;  */
}
@keyframes mymove {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0px;
  }
}
.test_des_animation {
  position: relative !important;
  animation: mybtn 2s;
  animation-delay: 0.3s;
}
@keyframes mybtn {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0px;
  }
}
.carousel-fade .carousel-item.active,
.btn_animation {
  z-index: 1;
  opacity: 1;
}
.btn_animation {
  position: relative !important;
  animation: mybtn 2s;
  animation-delay: 0.5s;
  /* opacity: 0;   */
}
@keyframes mybtn {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
/* perfect place section css start */
.perfect_place {
  background-color: var(--dark-light);
  padding: 100px 0px;
}
.perfect_title {
  font-size: 70px;
  line-height: 50px;
  font-weight: 400;
}
.perfect_img_one {
  height: 520px;
  width: 100%;
  object-fit: cover;
}
.perfect_img_two {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.perfect_images {
  height: 520px;
}
/* perfect place section css start */

/* virtual section css start */
.vitualmenu_image {
  width: 100%;
  height: 700px;
  object-fit: contain;
}
.e_menu_img {
  height: 300px;
  width: auto;
  margin-bottom: 30px;
  object-fit: contain;
}
.e_menu .carousel-indicators {
  display: none !important;
}
/* virtual section css end */

@media (min-width: 1200px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .overbanner3 {
    display: block;
  }
  #Top {
    display: none;
  }
  .experience_bg {
    height: auto;
  }
  .food_manu_img {
    height: 70px;
    width: 70px;
  }
  .menu_title {
    font-size: 14px;
  }
  .menu_price {
    font-size: 14px;
    width: 45px;
  }
  .menu_descr {
    font-size: 12px;
  }
  .experience_des {
    text-align: center;
  }
  .experience_booking {
    text-align: center;
  }
  .experience_reser_btn {
    display: flex;
    justify-content: center;
  }
  .insta_post {
    height: auto;
    width: 100%;
  }
  .all_insta_posts {
    height: 137px;
    width: 100%;
  }
  .sec_border {
    padding: 33px;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .overbanner2 .dropdown-menu.show {
    margin-top: -25px;
  }
  .overlay_reser_btn {
    font-size: 24px !important;
    padding: 22px 25px !important;
    margin-top: 20px;
  }
  .filter_menu_font {
    color: #fff;
    font-size: 10px !important;
  }
  .testimonial-item {
    height: 400px;
  }
  .testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonial .carousel-control-prev-icon {
    left: 150px;
    bottom: -70px;
  }
  .testimonial .carousel-control-next-icon {
    right: 150px;
    bottom: -70px;
  }
  .testi_party {
    height: auto;
  }
  .youtube_bg {
    height: 50vh;
  }
  .res_font_size {
    font-size: 30px;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .slider_title {
    line-height: 41px !important;
  }
  .responsive_logo {
    max-height: 70px;
  }
  .res_font_size {
    font-size: 20px;
    color: #fff;
  }
  .for_responsive {
    display: none;
  }
  .experience_back {
    background-position: top 4px right -80px;
  }
  .experience_img_one {
    height: 250px;
  }
  .experience_img_two {
    height: 300px;
  }
  .experience_bg {
    background-position: bottom -50px left -103px;
  }
  .pad_res {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .sp_mobile_pad {
    padding-bottom: 0px !important;
  }
  /* .footer_mobile_res{
    display: flex;
    justify-content: center;
    font-size: 12px;
  } */
  .footer .btn.btn-link {
    font-size: 12px;
  }
  .phone_number {
    font-size: 25px;
  }
  .food_manu_border:nth-child(2n-1) {
    border-right: 1px dashed transparent !important;
  }
  .contact_number {
    font-size: 35px !important;
  }
  .contact_address {
    width: 72% !important;
  }
  .visit_bg_img {
    top: -7%;
    left: -18%;
  }
  .instagram_post {
    flex-direction: column;
  }
  .all_insta_posts {
    height: 215px;
    /* width: auto; */
    flex-direction: row;
  }
  .sec_border {
    padding: 63px;
  }
  .testi_party {
    padding-left: 0px !important;
  }
  .about_title_des {
    font-size: 45px;
  }
  .service_mobile_res {
    padding: 0px !important;
  }
  .perfect_title {
    /* text-align: center; */
    font-size: 50px;
    line-height: 45px;
    padding-left: 0px !important;
  }
  /* .perfect_placetext {
    text-align: center;
  } */
  .perfect_images {
    height: 300px;
  }
  .perfect_img_one {
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 0px !important;
    margin-top: 20px;
  }
  .perfect_img_two {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 0px !important;
  }
  .youtube_bg {
    height: 60vh;
  }
  .play_btn {
    height: 50px;
    width: 50px;
  }
  .play_btn_res {
    font-size: 20px !important;
  }
  .read_more_des {
    text-align: center;
  }

  .filter_menu_list {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .filter_border {
    display: none !important;
  }
  .mobile_menu_hover .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: var(--dark-light);
  }
  .menu_list_items_color:hover .filter_menu_font {
    color: #fff !important;
  }
  .mobile_menu_item_btn {
    display: block !important;
  }
  .review_part {
    padding-top: 50px !important;
  }
  .all_insta_posts {
    height: 188px;
  }
  .sec_border {
    padding: 49px;
  }
  .mobile_menu_item_btn button#dropdown-basic {

    display: block !important;
  }
}
